<h1>現在のアクションプランです。</h1>
<% @memos.each_with_index do |memo, index|%>
  <p><%= index + 1 %>.<%= memo.book.title %></p>
  <table>
    <tr>
      <td>
        <%= check_box_tag :sample2 %>
      </td>
      <td>
        <h2><%= memo.action_plan %></h2>
      </td>
    </tr>
  </table>
  <hr>
<% end %>


