<%= form_with(model: [summary, comment]) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <% comment.errors.full_messages.each do |message| %>
        <h3><%= message %></h3>
      <% end %>
    </div>
  <% end %>
  <div class="review-text-area">
    <p><%= form.text_area :content, class: 'form-control', placeholder:t('view.create_comment') %></p>
  </div>
  <div class="actions">
    <p><%= form.submit value=t('view.submit'), class: 'comment-submit' %></p>
  </div>
<% end %>