/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

/* @import "font-awesome-sprockets"; */
/* @import "font-awesome"; */

.container {
  width: 1170px;
  min-width: 1170px;
  max-width: 1170px;
  background-color: #fff;
  margin-top: 70px;
}

body {
  clear: both;
  background-color: #DBDBDB;
}

body, html {
  height: 100%;
  font-family: 'Noto Sans JP',sans-serif;
}

table {
  width: 100%;
  max-width: 100%;
}


header{
  background-color: #252525;
  padding: 10px 0px 5px 0px;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
}

.modal-backdrop {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}


hr {
  border-top: 1px solid #DBDBDB;
}

a:hover {
  text-decoration: none;
}

.clearfix:after{
  content: "";
  display: block;
  clear:both;
}

.center {
  text-align: center;
}

.size {
  width: 600px;
  padding: 20px 0 20px 0;
}

.right {
  float: right;
}

.left {
  float: left;
}

.pagination>li>a {
  border: none;
  color: #337ab7;
  border-radius: 30px!important;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
  cursor: pointer!important;
}

.brand {
  width: 80px;
  padding: 0 10px 0 40px;
}
.brand-image {
  width: 55px;
  height: 55px;
  box-shadow: none;
  background-color: #DBDBDB;
  border-radius: 50%;
}
.favicon {
  background-color: #DBDBDB;
  border-radius: 50%;
}

.brand-name {
  text-align: left;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}

.footer-brand-name {
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}

.fa-home {
  padding: 0 20px 0 20px;
}
.fa-edit {
  padding: 0 20px 0 20px;
}
.fa-user {
  padding: 0 20px 0 20px;
}
.fa-users {
  padding: 0 20px 0 20px;
}
.fa-sign-out-alt {
  padding: 0 20px 0 20px;
}

.fa-user-plus {
  padding: 0 20px 0 20px;
}
.fa-sign-in-alt {
  padding: 0 20px 0 20px;
}

.header-content{
  width: 170px;
}

.header-name {
  margin: 0;
  color: #DBDBDB;
}

.login {
  font-size: 30px;
  color: white;
  padding: 30px 30px 30px 10px;
}

.login-btn {
  margin: 50px;
  padding: 10px 0 0 5px;
}

.login-icon {
  color: white;
  padding: 30px 0px 20px 10px;
}

.login-message {
  margin: 50px 0 0 0;
  font-size: 20px;
}

.search {
  background-color: transparent;
  border: none;
  color: #DBDBDB;
}

.search:hover {
  color: gray;
}

.search-name {
  color: #DBDBDB;
}

.header-notice {
  margin-top: 10px;
  font-size: large;
}


#wrapper {
  width: 100%;
  position:relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  margin-top: 100px;
  background-color: #252525;
  }



  .footer-brand-name {
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
  }

  .footer-brand-image {
    width: 55px;
    height: 55px;
    box-shadow: none;
    background-color: #DBDBDB;
    border-radius: 50%;
  }
  .footer-table {
    table-layout: fixed;
  }

  .image-right {
    text-align: right;
    padding-right: 10px;
  }

  .footer-padding {
    padding-top: 15px;
  }

  .notice-action-plan {
    text-align: left;
    list-style: inside;
    margin-left: 95px;
  }

  i.far.fa-user {
    padding-left: 2px;
    padding-right: 0;
  }

  i.far.fa-star {
    padding-right: 8px;
  }

  .fa-home, .fa-users, .fa-sign-out-alt, .fa-user-plus, .fa-sign-in-alt{
    color: #DBDBDB;
  }
  .fa-home:hover, .fa-users:hover, .fa-sign-out-alt:hover, .fa-user-plus:hover, .fa-sign-in-alt:hover{
    color: gray;
  }

  .fa-home:hover{
    /* color: rgb(105, 105, 105); */
    color: gray;
  }
  .brand-name a, .footer-brand-name a{
    color: #DBDBDB;
  }
  .brand-name a:hover, .footer-brand-name a:hover{
    color: gray;
  }

  .header-user, .header-edit {
    color: #DBDBDB;
  }
  .header-user:hover, .header-edit:hover {
    color: gray;
  }

  .alert {
    text-align: center;
    background-color: rgb(214, 250, 160);
    margin: 0;
    color: gray;
  }

  #fadeout {
    position: fixed;
    width: 100%;
  }