.book-form {
  margin-top: 30px;
}

.book-table {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 30px;
}

.book-content {
  width: 228px;
  padding: 9px;
  border-bottom: 1px solid #DBDBDB;
}