.comment-submit {
  width: 100%;
  color: white;
  background-color: #337ab7;
  border: none;
  border-radius: 5px;
  padding: 2px 0;
  margin-bottom: 20px;
}
.comment-submit:hover {
  background-color: #084479;
}