.user-update {
  margin-top: 30px;
}

.edit-cancel {
  margin-top: 10px;
  text-align: right;
}

.cancel-account:hover {
  background-color: #b60f0a;
}
.cancel-account {
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  font-size: large;
  margin: 20px 0 50px 0;
}
.cancel-message {
  margin-top: 80px;
}

.user-table {
  border-top: 1px solid #DBDBDB;
}

.profile-table {
  margin: 60px 0 60px 0;
}

.image-right img {
  box-shadow: none;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.user-name {
  font-size: 20px;
  font-weight: bold;
}
.user-profile {
  font-size: 16px;
}

.block{
  display: table;
  box-sizing: border-box;
  width: 100%;
  margin: 30px 0;
}

.block .block__avator{
  vertical-align: top;
  display: table-cell;
  width: 460px;
}

.block .block__text{
  vertical-align: top;
  display: table-cell;
  padding: 10px 0 10px 10px;
}
.block .block__text__follow{
  vertical-align: top;
  display: table-cell;
  padding: 0px 0 10px 10px;
}


.block .block__control{
  vertical-align: top;
  display: table-cell;
  width: 440px;
  padding: 0px 10px 10px 10px;
}

.profile-edit {
  background-color: #337ab7;
  color: white;
  padding: 10px;
  border-radius: 20px;
}
.profile-edit:hover {
  background-color: #084479;
  color: white;
}

.profile-edit a:hover {
  color: white;
}


.follow-btn {
  background-color: #337ab7;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
}

.follow-btn:hover {
  background-color: #084479;
}

.follow-block {
  border-bottom: solid 1px gainsboro;
  padding-bottom: 20px;
}

.follow-profile {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}